@keyframes el2 {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}
.el2 div {
  width: 35px;
  height: 35px;
  border: 6px solid #4e4e4e;
  border-top-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 50%;          
  left: 50%;        
  /* transform: ;  */
}
.el2 div {
  animation: el2 1s linear infinite;
}
.el2 div { box-sizing: content-box; }