.title {
    font-size: 16px;
    color: #333;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 700;
}
.title2 {
    font-size: 16px;
    color: #333;
    text-align: center;
    margin: 5px 0;
    font-weight: 700;
}
.filtersContainer li {
    text-align: center;
    display: block;
    width: 100%;
    /* padding: 7px 0; */
    margin-bottom: 10px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 14px;
    color: #333;
}
.filtersContainer li:hover {
    background: #f0f0f0;
}
.galochka {
    color: green;
}
.inDevelopmenting {
    font-size: 12px;
    color: #414141;
}
