.filtersContainer li {
    text-align: center;
    display: block;
    width: 100%;
    padding: 7px 0;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 14px;
    color: #333;
}
.filtersContainer li:hover {
    background: #f0f0f0;
}