.container {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 10px 60px 10px;
    position: relative;
    margin-top: 20px;
    overflow-wrap: break-word;

}
.title {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}
.text {
    max-width: 100%;
    color: #333;
    line-height: 1.5;
}
.back1 {
    position: absolute;
    border: #333 solid 1px;
    border-radius: 100%;
    padding: 5px;
    top: 0;
    left: 0;
}
.back1 img {
    width: 25px;
}
.back2 {
    position: absolute;
    border: #333 solid 1px;
    border-radius: 100%;
    padding: 5px;
    bottom: 0;
    left: 0;
}
.back2 img {
    width: 25px;
}