@keyframes el2 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.el2 div {
  width: 14px;
  height: 14px;
  border: 4px solid #4e4e4e;
  border-top-color: transparent;
  border-radius: 50%;
}
.el2 div {
  animation: el2 1s linear infinite;
}
.el2 div { box-sizing: content-box; }