.container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 0 5px;
    border: 1px #686868 solid;
    padding: 10px;
    width: 100%;
    overflow: hidden;
}
.text {
    flex-grow: 1;
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px;
}
.delete {
    background-color: red;
    padding: 8px;
    cursor: pointer;
    flex-shrink: 0;
}
.made {
    background-color: green;
    padding: 8px;
    cursor: pointer;
    flex-shrink: 0;
}
.edit {
    padding: 8px;
    cursor: pointer;
    flex-shrink: 0;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}
.edit img {
    width: 22px;
    height: 22px;
    transform: translateX(3px);
}