.edit {
    padding: 8px;
    cursor: pointer;
    flex-shrink: 0;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}
.edit img {
    width: 22px;
    height: 22px;
    transform: translateX(3px);
}