.header {
    position: relative;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.tribar {
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
    z-index: 2;
}
