.makeTitle {
    /* background-color: #fff; */
    width: 100%;
    /* min-height: 100px; */
    padding: 10px;
    margin-bottom: 10px;
}
.makeText {
    background-color: #fff;
    width: 100%;
    min-height: 100px;
    padding: 10px;
}
.button {
    background-color: blue;
    color: #fff;
    padding: 5px 20px;
    bottom: 5px;
    right: 0;
    float: inline-end;
}
.right {
    display: flex;
    justify-content: end;
}